#nav{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    background-color: black;
    position: sticky;
    top: 0;
}
.nav-right a{
    display: flex;
    gap: 2vw;
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}
.nav-right a:hover{
    background-color: white;
    color: black;
}
.nav-right{
    display: flex;
    gap: 2vw;
    text-decoration: none;
}